

.search-tag {
  padding: 2.5px;
  display: flex;
  flex-direction: row;
}

.search-tag button {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  background-color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  width: 80px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
  margin-left: 5px;
}

.name {
  text-align: center;
  width: 200px;
  font-size: 10px;
}

.search-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.previewURL {
  display: none;
}