body {
  background-color: black;
}

#thefile {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

button {
  position: absolute;
  right: 50px;
  top: 50px;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
}

audio {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
}